:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--off-black);
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: var(--dark-grey);
    width: 380px;
    height: 610px;
    border-radius: 15px;
}

.user-avatar {
    padding: 30px 140px;
}

.user-avatar > img {
    border-radius: 100px;
    width: 90px;
}

.name {
    color: var(--white);
}

.location {
    color: var(--green);
    padding: 15px 0px;
}

.info {
    color: white;
    padding: 15px 0px 30px 0px;
}

.social-media {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-media > a {
    background-color: var(--grey);
    color: var(--white);
    text-decoration: none;
    margin: 0px 40px;
    padding: 15px 0px;
    border-radius: 10px;
}

.social-media > a:hover {
    background-color: var(--green);
    color: var(--off-black);
    transition: all 1s ;
}

/* FOOTER */
.attribution { 
    font-size: 11px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
/* FOOTER - END */