:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    background-color: var(--eggshell);
    color: var(--wenge-brown);
    /* min-width: 300px;
    max-width: 740px; */
}

.title-font {
    font-family: "Young Serif", serif;
}

.container {
    display: grid;
    place-items: center;
}

.card {
    background-color: var(--white);
    width: 740px;
    height: 1800px;
    margin: 120px 0px;
    padding: 40px;
    border-radius: 15px;
}

.card > img {
    border-radius: 15px;
}

.recipe > h1 {
    padding: 40px 0px;
    color: var(--dark-charcoal);
}

h2 {
    margin: 30px 0px;
}

h2, 
ol > li::marker,
ul > li::marker,
.nutrition-table > tbody > tr > td:last-child {
    color: var(--nutmeg);
}

.preparation {
    margin-top: 30px;
    padding: 30px;
    background-color: var(--rose-white);
    border-radius: 15px;
}

.preparation > h3,
.preparation > ul > li::marker {
    color: var(--dark-raspberry);
}

.preparation > ul,
.ingredients > ul,
.instructions > ol {
    margin: 30px 0px 30px 20px;
}

.preparation > ul > li,
.ingredients > ul > li,
.instructions > ol> li {
    padding-bottom: 10px;
}

.preparation > ul > li:last-child,
.ingredients > ul > li:last-child,
.instructions > ol > li:last-child {
    padding-bottom: 0;
}

.ingredients,
.instructions {
    border-bottom: 1px solid;
    border-color: var(--light-grey);
}

.nutrition-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

.nutrition-table > tbody > tr > td {
    padding: 15px 20px;
    border-bottom: 1px solid;
    border-color: var(--light-grey);
}

.attribution {
    text-align: center; 
    padding-bottom: 15px;
}