:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-gray);
    font-family: "Outfit", sans-serif;
    font-size: 15px;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: var(--white);
    width: 290px;
    height: 450px;
    padding: 15px;
    border-radius: 10px;
}

.card > img {
    border-radius: 10px;
}

.card-text > h3{
    color: var(--dark-blue);
    padding: 15px 15px 10px 15px;
}

.card-text > p {
    color: var(--grayish-blue);
    padding: 10px 15px 15px 15px;
}

/* FOOTER */
.attribution { 
    font-size: 11px; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
/* FOOTER - END */